<font color='IndianRed'>
<font size=9> 

**Curso Inferencia Estadística**

<font color = 'slateblue'>
<font size = 5>
    
**Tabla de frencuencias**

<font color = 'LightSeaGreen'>
<font size = 3>

Para crear la tabla de frecuencias de este ejemplo se usó una base de datos obtenida de [Kaggle](https://www.kaggle.com/datasets/arpitsinghaiml/average-net-worth-by-country/data).

<font color = 'deepskyblue'>
<font size = 5>
Librerías

In [1]:
# Importamos las librerías que vamos a usar
import os
import pandas as pd
import numpy as np
from plotnine import *

In [2]:
# Obtenemos la ruta del notebook
os.getcwd()

'/home/zick13/Documentos/Developer/Courses/Curso_Inferencia_Estadistica/Tareas/tarea_frec_table'

In [3]:
os.chdir("/home/zick13/Documentos/Developer/Courses/Curso_Inferencia_Estadistica/Tareas/tarea_frec_table")

<font color = 'deepskyblue'>
<font size = 5>
Lectura de los datos

In [4]:
# Importamos los datos que vamos a usar
df = pd.read_csv("Data/riqueza_por_adulto_del_país.csv")

In [5]:
# Se muestra el dataframe para ver si cargó de manera exitosa
df

    Riqueza_promedio_por_adulto_por_país(USD)
0                                      696604
1                                      657564
2                                      579051
3                                      552930
4                                      550110
..                                        ...
66                                      38523
67                                      35529
68                                      35307
69                                      34005
70                                      33122

[71 rows x 1 columns]

In [6]:
# Imprimimos las primeras 5 filas del dataframe para inspeccionar los datos
df.head()

   Riqueza_promedio_por_adulto_por_país(USD)
0                                     696604
1                                     657564
2                                     579051
3                                     552930
4                                     550110

In [7]:
# Imprimimos las últimas filas del dataframe para inspeccionar los datos
df.tail()

    Riqueza_promedio_por_adulto_por_país(USD)
66                                      38523
67                                      35529
68                                      35307
69                                      34005
70                                      33122

In [8]:
# Imprimimos las dimensiones del dataframe
df.shape

(71, 1)

In [9]:
# Muestra el nombre de las columnas
df.columns

Index(['Riqueza_promedio_por_adulto_por_país(USD)'], dtype='object')

<font color = 'RoyalBlue'>
<font size = 5>
Personalización de la tabla de frecuencias usando la Regla de Sturgges

In [10]:
# Calculamos los bins usando la regla de Sturges
c = round(1 + np.log2(df.shape[0])) # df.shape[0] te da el número de rows
c

7

In [11]:
# Encuentra los valores máximos y mínimos de cada columna
print(df.max())
print(df.min())

Riqueza_promedio_por_adulto_por_país(USD)    696604
dtype: int64
Riqueza_promedio_por_adulto_por_país(USD)    33122
dtype: int64

In [12]:
# Crea los intervalos (clases)
bins = np.linspace(min(df["Riqueza_promedio_por_adulto_por_país(USD)"]), max(df["Riqueza_promedio_por_adulto_por_país(USD)"]), c + 1)
bins

array([ 33122.        , 127905.14285714, 222688.28571429, 317471.42857143,
       412254.57142857, 507037.71428571, 601820.85714286, 696604.        ])

In [13]:
# Crea los nombres de las clases
labels = [f"{bins[x]} - {bins[x + 1]}" for x in range(0, len(bins) - 1)]
labels # se muestran los labels

['33122.0 - 127905.14285714286',
 '127905.14285714286 - 222688.2857142857',
 '222688.2857142857 - 317471.4285714286',
 '317471.4285714286 - 412254.5714285714',
 '412254.5714285714 - 507037.71428571426',
 '507037.71428571426 - 601820.8571428572',
 '601820.8571428572 - 696604.0']

In [14]:
# Crea las clases
df['Class'] = pd.cut(df["Riqueza_promedio_por_adulto_por_país(USD)"], bins = bins, labels = labels, right = False) # right = False no toma en cuenta el intervalo derecho, es un intervalo abierto
df['Class']

0                                        NaN
1               601820.8571428572 - 696604.0
2     507037.71428571426 - 601820.8571428572
3     507037.71428571426 - 601820.8571428572
4     507037.71428571426 - 601820.8571428572
                       ...
66              33122.0 - 127905.14285714286
67              33122.0 - 127905.14285714286
68              33122.0 - 127905.14285714286
69              33122.0 - 127905.14285714286
70              33122.0 - 127905.14285714286
Name: Class, Length: 71, dtype: category
Categories (7, object): ['33122.0 - 127905.14285714286' < '127905.14285714286 - 222688.2857142857' < '222688.2857142857 - 317471.4285714286' < '317471.4285714286 - 412254.5714285714' < '412254.5714285714 - 507037.71428571426' < '507037.71428571426 - 601820.8571428572' < '601820.8571428572 - 696604.0']

In [15]:
# Crea las marcas de clase
Class_value = [(bins[x] + bins[x + 1]) / 2 for x in range(0, len(bins) - 1)]
Class_value

[np.float64(80513.57142857142),
 np.float64(175296.7142857143),
 np.float64(270079.85714285716),
 np.float64(364863.0),
 np.float64(459646.14285714284),
 np.float64(554429.2857142857),
 np.float64(649212.4285714286)]

In [17]:
# Calcula la frecuencia
frequency = df['Class'].value_counts(sort = False)
frequency

Class
33122.0 - 127905.14285714286              40
127905.14285714286 - 222688.2857142857     6
222688.2857142857 - 317471.4285714286     10
317471.4285714286 - 412254.5714285714      7
412254.5714285714 - 507037.71428571426     3
507037.71428571426 - 601820.8571428572     3
601820.8571428572 - 696604.0               1
Name: count, dtype: int64

In [18]:
# Calcula la frecuencia relativa
relative_frequency = frequency / frequency.sum()
relative_frequency

Class
33122.0 - 127905.14285714286              0.571429
127905.14285714286 - 222688.2857142857    0.085714
222688.2857142857 - 317471.4285714286     0.142857
317471.4285714286 - 412254.5714285714     0.100000
412254.5714285714 - 507037.71428571426    0.042857
507037.71428571426 - 601820.8571428572    0.042857
601820.8571428572 - 696604.0              0.014286
Name: count, dtype: float64

In [19]:
# Calcula la frecuencia relativa acumulada
cumulative_relative_frequency = relative_frequency.cumsum()
cumulative_relative_frequency

Class
33122.0 - 127905.14285714286              0.571429
127905.14285714286 - 222688.2857142857    0.657143
222688.2857142857 - 317471.4285714286     0.800000
317471.4285714286 - 412254.5714285714     0.900000
412254.5714285714 - 507037.71428571426    0.942857
507037.71428571426 - 601820.8571428572    0.985714
601820.8571428572 - 696604.0              1.000000
Name: count, dtype: float64

In [20]:
# Crea la tabla de frecuencias final con la regla de Sturges
table_riqueza = pd.DataFrame({
    'Class': labels,
    'Class_value': Class_value,
    'Frequency': frequency.values,
    'Relative_frequency': relative_frequency.values,
    'Cumulative_relative_frequency': cumulative_relative_frequency
})

In [21]:
# Se muestra la tabla
table_riqueza

,Class,Class_value,Frequency,Relative_frequency,Cumulative_relative_frequency
Class,,,,,
33122.0 - 127905.14285714286,33122.0 - 127905.14285714286,80513.571429,40,0.571429,0.571429
127905.14285714286 - 222688.2857142857,127905.14285714286 - 222688.2857142857,175296.714286,6,0.085714,0.657143
222688.2857142857 - 317471.4285714286,222688.2857142857 - 317471.4285714286,270079.857143,10,0.142857,0.800000
317471.4285714286 - 412254.5714285714,317471.4285714286 - 412254.5714285714,364863.000000,7,0.100000,0.900000
412254.5714285714 - 507037.71428571426,412254.5714285714 - 507037.71428571426,459646.142857,3,0.042857,0.942857
507037.71428571426 - 601820.8571428572,507037.71428571426 - 601820.8571428572,554429.285714,3,0.042857,0.985714
601820.8571428572 - 696604.0,601820.8571428572 - 696604.0,649212.428571,1,0.014286,1.000000

In [22]:
# Guardamos la tabla
table_riqueza.to_csv("Frecuencias_relativas_riqueza.csv", index = False)